.photograph {
  .featured-thumb {
    border-top:none;
    text-align:center;
    opacity:0.5;
    img{
      width:100%;
      height:360px;
    }
    .transition(0.4 all ease);
    &:hover {
      img {
        transform:scale(1.2);
        filter:none;
      }
    }
  }
  .out-thumb {
    margin-top:-38%;
    padding-top: 10px;
    padding-bottom: 10px;
    height:160px;
    z-index:1;
    background:@header-bg;
    h1{
      font-size:23px;
      a {
        color:@accent;
      }
    }
    .entry-excerpt{
        color:#bfb1b1;
    }
    .readmore {
      display: block;
      clear: both;
      margin-top: 5px;
      a {
        background: @accent;
        color: @onaccent;
        display: inline-block;
        padding: 3px 8px;
        margin-top: 5px;
        text-transform: uppercase;
        font-size: 11px;
        .transition(0.4s all ease);
        border-radius: 3px;
        &:hover {
          background: @header-bg;
          color: @header-color;
        }
      }
    }
  }
}

.grid_2_column {
  padding: 0 10px;
  @media screen and (min-width: 768px) {
    &:nth-child(odd) {
      padding-right: 10px;
      clear: none;
    }
    &:nth-child(3n+1) {
      clear: left;
    }
  }
}